html,
body {
  margin: 0px;
}

.SignIn {
  background: url(../images/bg2.jpg) center center / cover no-repeat;
}

/* Sign up card is too long */
.signcard {
  background-color: #faf9de;
  opacity: 0.8;
  height: 350px;
  width: 300px;
  margin-top: auto;
  margin-bottom: auto;
}

.card-header {
  color: #3c240f;
}

.card-body {
  color: #3c240f;
}

.container-fluid {
  align-content: center;
  height: 100vh;
}

/* Adding a margin to your sign-in button because it's on top of the password field */
.card-body .form-group .btn {
  margin: 1%;
}  

a {
  font-family: "Roboto", sans-serif;
  color: brown;
}
